* {
    margin: 0;
    padding: 0;
}

#mode {
    position: fixed;
    top: 24px;
    right: 24px;
    background-color: #121212;
    color: white;
    width: auto;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    font-weight: bold;
    animation: pulse 5s;
    animation-iteration-count: infinite;
}

#mode:hover {
    
}

.modeLight {
    background-color: white;
}

.scoreLight {
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Macondo', cursive;
    overflow-y: scroll;
    background-color: #fcfcfc;
}

.displayMode {
    background-color: #121212;
}

h3 {
    height: 22px;
}

#shi {
    font-size: 3rem;
    color: #e1ba89;
}

#fu {
    font-size: 3rem;
    color: #8acf80;
}

#mi {
    font-size: 3rem;
    color: #dfb6ef;
}

.union {
    font-size: 3rem;
}

#sentence {
    color: rgb(150, 150, 150);
    animation: taadaa 3s infinite;
}

@keyframes taadaa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#scoreSection {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;

}

#fightPlace {
    width: 50%;
    height: 155px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
}

#buttonsContainer {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e1ba89; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 600;
    /* justify-content: center; */
    gap: 10px;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 10rem;
}

.buttons:hover,
.buttons:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.buttons:hover {
    transform: translateY(-1px);
}

.buttons:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.image {
    height: 140px;
}

#imageFilter1 {
    filter: invert(78%) sepia(42%) saturate(337%) hue-rotate(349deg) brightness(94%) contrast(86%);
}

#imageFilter2 {
    filter: invert(69%) sepia(36%) saturate(434%) hue-rotate(66deg) brightness(104%) contrast(87%);
}

#imageFilter3 {
    filter: invert(83%) sepia(35%) saturate(822%) hue-rotate(201deg) brightness(94%) contrast(100%);
}

#versus {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.versusWhite {
    color: white;
}



@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


#playerDisplay,
#computerDisplay {
    font-size: 2rem;
    width: 120px;

}

.roll {
    animation: roll 1s;
}

@keyframes roll {
    from {
        /* opacity: 0; */
        transform: rotate(0deg) scale(0);

    }

    to {
        transform: rotate(-720deg) scale(1);


    }
}

#btn1 {
    background-color: #e1ba89;
    position: relative;
    animation: mymove 4s;
}


@keyframes mymove {
    from {
        left: -200px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

#btn2 {
    background-color: #8acf80;
    position: relative;
    animation: mymove2 4s;
}


@keyframes mymove2 {
    from {
        bottom: -200px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

#btn3 {
    background-color: #dfb6ef;
    position: relative;
    animation: mymove3 4s;
}


@keyframes mymove3 {
    from {
        right: -200px;
        opacity: 0;
    }

    to {
        right: 0px;
        opacity: 1;
    }
}

/* media query */
@media (min-width: 666px) {
    #buttonsContainer {
        flex-direction: row;
        /* width: 100%; */
    }
}




@media (max-width: 1110px) and (min-height: 504px) {

    /* #mode {
        top: 14px;
        right: 14px;     
    } */

    #shi {
        font-size: 2rem;
    }

    #fu {
        font-size: 2rem;
    }

    #mi {
        font-size: 2rem;
    }

    #versus {
        font-size: 1.2rem;
    }

    #buttonsContainer {
        padding-top: 6px;
        flex-direction: column;
        gap: 6px;
    }

    #sentence {
        top: 350px;
        color: rgb(150, 150, 150);
        animation: taadaa 3s infinite;
    }

    #scoreSection {
        flex-direction: column;
    }

    .image {
        width: 120px;
        height: 80px;
    }

    #btn2 {
        animation: mymove2 4s;
    }


    @keyframes mymove2 {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

/* 667 */